extends layout.pug 
   
block main-navigation  
  div.navbar-start
    a.navbar-item(href="/organizer")= "Home"
  div.navbar-end
    div.navbar-item
      div.buttons
        a.button.is-info(href="/")= "Logout"
block side-navigation    
  p.menu-label= "General"                   
  ul.menu-list
    li
      a(href='/organizer')= "Dashboard"
    li
      a(href='/organizer/userlist')= "User Management"
  p.menu-label= "Event Management"
  ul.menu-list
    li
      a.is-active(href='/organizer/eventsettings')= "Events"
    li
      a(href='/organizer/analyze')= "Analyze"
block breadcrump
  ul
    li
      a(href="/organizer")= "Home"
    li.is-active
      a(href="#" aria-current="page")= "Eventlist"      
block main-content
  div.buttons
    a.button.is-info(href="/localevent/0")= "Add"
  table(class="table is-fullwith is-striped")
    thead
      tr
        th= "Date"
        th= "Place"
        th= "Description"
        th= "Organizer"
        th= ""
    each localEvent_o in allLocalEvents_apl
      tr
        td= localEvent_o.date_s
        td= localEvent_o.location_s
        td= localEvent_o.name_s
        td= localEvent_o.orga_s
        td
          a.button.is-info(href=`/localevent/${localEvent_o.id_s}`)= "Edit"          