doctype html
html(lang='de')
    head
        title= "Home"
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/styles/normalize.css')
        link(rel='stylesheet' href='/styles/buttons.css')
    body
        form
            div
                button(formaction=`/organizer/userlist` formmethod="GET" class="e-button")= "User Management"
            
            div
                button(formaction=`/organizer/eventsettings` formmethod="GET" class="e-button")= "Event Settings"
            
            div
                button(formaction=`/organizer/provideevents` formmethod="GET" class="e-button")= "Provide Events"

            div
                button(formaction=`/organizer/analyze` formmethod="GET" class="e-button")= "Analyze"
