extends layout
include useradmin_include.pug
block breadcrump
  ul
    li
      a(href="/organizer")= "Home"
    li.is-active
      a(href="#" aria-current="page")= "User Management"      
block main-content
  div.buttons
    a.button.is-info(href="/organizer/usersetting/0")= "Add"
  table(class="table is-fullwith is-striped")
    thead
      tr
        th= "Name"
        th= "Role"
        th= ""
    each user_o in allLocalEvents_apl
      tr
        td= user_o.name_s
        td= user_o.role_s
        td 
          a.button.is-info(href=`/organizer/usersetting/${user_o.id_s}`)= "Edit"
    

